body {
    margin: 0;
    padding: 0;
}

.screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: brown;
    font-size: 34px;
    font-family: fantasy;
}